html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-image: url("/static/img/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(27, 27, 27);
    z-index: 100000;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.nav-item {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 3px;
}

.header a {
    color: #f3e528
}

.header a:hover {
    color: #aaa00c;
    text-decoration-line: none;
}

.starter {
    text-align: center;
    position: relative;
    top: 110px;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: rgb(196, 24, 19);
    font-size: 8rem;
    font-weight: 900;
    position: relative;
    animation: title;
    animation-duration: 2s;
    text-shadow: 5px 5px black;
}

@keyframes title {
    0% {
        top: -400px;
    }
    100% {
        top: 0px;
    }
}

.starter p {
    color: cornsilk;
    padding: 0 30%;
    position: relative;
    animation: subtitle;
    animation-duration: 2s;
}

@keyframes subtitle {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}

.starter .order_pizza,
.order {
    background-color: black;
    font-weight: 900;
    color: #f3e528;
    border: #f3e528 1px solid;
    box-shadow: 3px 3px 3px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    animation-name: button;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.starter .order_pizza:hover,
.order:hover {
    transform: scale(1.04);
    background-color: black;
    font-weight: 900;
    color: #f3e528;
    border: #f3e528 1px solid;
}

@keyframes button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ordering,
.contact {
    position: relative;
    top: 130px;
    margin: 0 15% 50px 15%;
}

.ingredients,
.summary,
.contacting {
    background-color: rgb(185, 185, 175);
    opacity: 80%;
    border-radius: 10px;
    border: solid 2px black;
    padding: 15px 25px;
    box-shadow: 5px 5px 5px;
    position: relative;
}

.ingredients {
    animation: ingredients;
    animation-duration: 2s;
}

@keyframes ingredients {
    0% {
        left: -1200px;
    }
    100% {
        left: 0px;
    }
}

.summary {
    height: 350px;
    animation: summary;
    animation-duration: 2s;
}

@keyframes summary {
    0% {
        right: -1000px;
    }
    100% {
        right: 0px;
    }
}

.checkboxes {
    font-size: 1.2rem;
}

.ing input {
    display: none;
}

label {
    cursor: pointer;
    padding: 5px 0 0 0;
}

ul {
    list-style-type: none;
}

.ing input+label:before {
    content: '❌';
    margin-right: 10px;
}

.ing input:checked+label:before {
    content: '🍕';
    margin-right: 10px;
}

#form__header-1 {
    font-size: 1.5rem;
}

#form__header-2 {
    font-size: 1.3rem;
    padding: 10px 0 0 20px
}

.row {
    padding-left: 10px;
}

.ordertitle,
.contacttitle {
    padding-bottom: 40px;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px black;
    color: #f3e528;
}

.right {
    text-align: end;
}

span {
    padding: 5px 0;
    font-size: 1.3rem;
}

.line {
    height: 0.1px;
    background-color: black;
    width: 95%;
    position: relative;
    left: 10px;
    margin: 5px 0;
    padding: 1px;
}

.order {
    position: relative;
    top: 15px;
    animation: none;
    opacity: 1;
}

.contacting {
    text-align: center;
    font-size: 1.7rem;
    padding-top: 30px;
    animation: ingredients;
    position: relative;
    animation-duration: 2s;
    ;
}

.contacting h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

.icon-bar {
    margin-top: 40px;
}

.icon-bar a {
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
    padding: 20px 23px !important;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.snapchat {
    background: #f3f70d;
    color: white;
}

.instagram {
    background: #c51e8d;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

iframe {
    animation: summary;
    position: relative;
    animation-duration: 2s;
    border-radius: 10%;
}
.final_order{
    display: none;
}