{% extends 'base.html' %} {% load static %} {% block content %}
<div class="contact">
    <div class="row">
        <h1 class="contacttitle col-12"> Contact:</h1>
        <div class="contacting col-6">
            <h2>Pizzorder</h2>
            Adress: xxxxxxxxxxxxxxx<br>e-mail: xxxxx@xxxx.com<br>phone-number: xxx xxx xxx<br>
            <div class="icon-bar col-12">
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="snapchat"><i class="fa fa-snapchat"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <iframe class="col-6" src="https://giphy.com/embed/jn2iXu2HRpMuovBrrV" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    </div>
</div>
{% endblock %}