{% extends 'base.html' %} {% block content %}
<div class="starter">
    <h1>Pizzorder</h1>

    <p>Welcome in Pizzorder - the app which allows yout to create your unique pizza and order it! It's easier than you think! Just choose your favorite ingredients and some special options! Click on the 'Order Pizza!' button and check it by yourself! </p>

    <a href="\order_pizza"><button class="btn btn-primary btn-lg order_pizza" formtarget = "">Order Pizza!</button></a>
</div>

{% endblock %}
