{% extends 'base.html' %} {% block content %}
<form method="POST" class="ordering">
    {% csrf_token %}
    <div class="row">
        <h1 class="ordertitle col-sm-12">Create and order your unique pizza!</h1>
        <div class="ingredients col-sm-7">
            <h2 id="form__header-1">Choose your favorite ingredients and optionally gluten-free or lactose-free version!</h2>
            <div class="row">
                <h3 class="col-sm-12">Ingredients:</h3>
                <div class="checkboxes col-sm-12">
                    <ul class="ing">
                        <li class="row">
                            <input type="checkbox" id="item0">
                            <label for="item0" class="col-7">Mozarella Cheese</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item1">
                            <label for="item1" class="col-7">Salami</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item2">
                            <label for="item2" class="col-7">Ham</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item3">
                            <label for="item3" class="col-7">Parma Ham</label><span class="right col-4">4 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item4">
                            <label for="item4" class="col-7">Pineapple</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item5">
                            <label for="item5" class="col-7">Mushrooms</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item6">
                            <label for="item6" class="col-7">Tomatos</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item7">
                            <label for="item7" class="col-7">Pepper</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item8">
                            <label for="item8" class="col-7">Onion</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item9">
                            <label for="item9" class="col-7">Corn</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item10">
                            <label for="item10" class="col-7">Basil</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item11">
                            <label for="item11" class="col-7">Oregano</label><span class="right col-4">2 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item12">
                            <label for="item12" class="col-7">Argula leaves</label><span class="right col-4">3 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item13">
                            <label for="item13" class="col-7">Prawns</label><span class="right col-4">5 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item14">
                            <label for="item14" class="col-7">Tuna</label><span class="right col-4">4 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item15">
                            <label for="item15" class="col-7">Spinach</label><span class="right col-4">3 PLN</span>
                        </li>
                    </ul>
                </div>
                <h2 class="col-sm-12" id="form__header-2">Special options:</h4>
                <div class="checkboxes col-sm-12">
                    <ul class="ing">
                        <li class="row">
                            <input type="checkbox" id="item16">
                            <label for="item16" class="col-7">Gluten-free version</label><span class="right col-4">5 PLN</span>
                        </li>
                        <li class="row">
                            <input type="checkbox" id="item17">
                            <label for="item17" class="col-7">Lactose-free version</label><span class="right col-4">5 PLN</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="summary offset-sm-1 col-sm-4">
            <h2 id="form__header-1">Summary:</h2>
            <div class="row">
                <span class="left col-8">Base price:</span><span class="right col-4">10 PLN</span>
                <span class="left col-8">Ingredients cost:</span><span class="right col-4">0 PLN</span>
                <span class="line"></span>
                <span class="left col-8" style="font-weight: bold; font-size: 1.4rem;">TOTAL:</span><span class="right col-4" style="font-weight: bold; font-size:1.4rem">10 PLN</span>
                <button type="submit" class="btn btn-primary btn-lg offset-1 col-10 order">ORDER!</button>
            </div>
        </div>
    </form>

    {% endblock %}